header {
    position: relative;
    text-align: center;
}

.header_banner {
    width: 100%;
    display: block;
}

header nav {
    position: absolute;
    top: 350px;          /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.uniform-image {
    height: 300px;
    width: 300px;
}

Main {
    background-color: #ff6a00;
}

.content-section {
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}

.content-section:gym-border {
  border-bottom: none;
}